<h1>Cart</h1>
<h5><a ui-sref="shop.index">Continue Shopping</a></h5>
<hr>
<div ng-hide="cartCtrl.cart.length">No items in your cart. How sad.</div>
<div ng-repeat="item in cartCtrl.cart track by $index">
  <img ng-src="{{item.image}}" height="200" alt="">
  <p>{{item.name}} </p>
  <p>{{item.price*item.qty | currency:'$'}}</p>
  <p>
    Quantity: <input type="number" value="{{item.qty}}" ng-model="cartCtrl.itemQty[$index]">
    <a ng-click="cartCtrl.changeItemQty(item, cartCtrl.itemQty[$index])"> Save</a>
  </p>
  <p><a ng-click="cartCtrl.removeItem(item)">Remove</a></p>
</div>
<hr>
<div>
  <h4>Total: {{cartCtrl.getTotal() | currency:'$'}}</h4>
  <a ui-sref="shop.checkout" type="button">Checkout</a>
</div>
