<div class="container checkout">
<h1>Review Your Order:</h1>

  <hr>

  <div class="row container">
    <div class="row col-xs-8 container">
      <div ng-repeat="item in checkoutCtrl.cart">
        <div class="row">
          <div class="col-xs-3">
            <a ui-sref="shop.show-bouquet({bouqId: item._id})"><img ng-src="{{item.image}}" height="200" alt="Bouquet: {{item.name}}"></a>
          </div>

          <div class="col-xs-5">
            <h4>{{item.name}} </h4>
            <p>{{item.price*item.qty | currency:'$'}}</p>
            <p>Quantity: {{item.qty}}</p>
          </div>
        </div>
        <br>
      </div>
      <h4><a ui-sref="shop.cart">Edit Cart</a></h4>
    </div>
    <div id="cart-total" class="col-xs-4">
        <h4>Sub Total: {{checkoutCtrl.getTotal() | currency:'$'}}</h4>
        <h4><i>Tax: {{checkoutCtrl.tax | currency:'$'}}</i></h4>
        <hr>
        <h3>Total: {{checkoutCtrl.totalPrice | currency:'$'}}</h3>
    </div>
  </div>

  <br>
  <hr>

  <h3>Delivery Address</h3>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Address</label>
      <input type="text" class="form-control" placeholder="Address" ng-model="checkoutCtrl.address" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">City</label>
      <input type="text" class="form-control" placeholder="City" ng-model="checkoutCtrl.city" required>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">State</label>
      <select class="form-control select" ng-model="checkoutCtrl.state" required>
        <option>AL</option>
        <option>AK</option>
        <option>AZ</option>
        <option>AR</option>
        <option>CA</option>
        <option>CO</option>
        <option>CT</option>
        <option>DE</option>
        <option>FL</option>
        <option>GA</option>
        <option>HI</option>
        <option>ID</option>
        <option>IL</option>
        <option>IN</option>
        <option>IA</option>
        <option>KS</option>
        <option>KY</option>
        <option>LA</option>
        <option>ME</option>
        <option>MD</option>
        <option>MA</option>
        <option>MI</option>
        <option>MN</option>
        <option>MS</option>
        <option>MO</option>
        <option>MT</option>
        <option>NE</option>
        <option>NV</option>
        <option>NH</option>
        <option>NJ</option>
        <option>NM</option>
        <option>NY</option>
        <option>NC</option>
        <option>ND</option>
        <option>OH</option>
        <option>OK</option>
        <option>OR</option>
        <option>PA</option>
        <option>RI</option>
        <option>SC</option>
        <option>SD</option>
        <option>TN</option>
        <option>TX</option>
        <option>UT</option>
        <option>VT</option>
        <option>VA</option>
        <option>WA</option>
        <option>WV</option>
        <option>WI</option>
        <option>WY</option>
      </select>
      <!-- <input type="text" class="form-control" maxLength="2" placeholder="State" ng-model="checkoutCtrl.state" required> -->
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Zipcode</label>
      <input type="text" maxlength="5" class="form-control" placeholder="zipcode" ng-model="checkoutCtrl.zipcode" required>
    </div>

  <br>
  <hr>
    <div class="form-group">
      <h3>Choose Payment Method:</h3>
      <select class="form-control select" ng-model="checkoutCtrl.payMethod" required>
        <option>Food</option>
        <option>A hug</option>
        <option>Cold hard cash</option>
        <option>Check</option>
        <option>A good joke</option>
      </select>
    </div>
    <br>
    <hr>
    <div class="form-group">
      <h3><button type="submit" class="btn btn-default" ng-click="checkoutCtrl.submitOrder()">Submit Order!</button></h3>
    </div>
  </form>


</div>
