
<div class="row">
<!-- <div class="col-xs-2">
  <div class="navbar navbar-default navbar-left">
    <a class="navbar-brand" href="#">Filters</a>
    <ul class="nav navbar-nav">
     <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Price<span class="caret"></span></a>
       <ul class="dropdown-menu" role="menu">
        <li><a>Sub Menu1</a></li>
        <li><a>Sub Menu2</a></li>
       </ul>
     </li>
     <li><a>Link2</a></li>
     <li><a>Link3</a></li>
     <li><a>Link4</a></li>
     <li><a>Link5</a></li>
    </ul>
  </div>
</div> -->


<div class="col-xs-12">
  <h1 class="text-center">Shop Bouquets</h1>
<!--    <p>Filters:</p>
  <label>Price</label>
  <select class="form-control" ng-model="vm.limit">
    <option>All</option>
    <option value="2">2</option>
    <option value="5">5</option>
    <option value="10">10</option>
  </select> -->
  <div class="row">
    <div class="col-xs-6 pull-left">
      <a ng-click="vm.desc=!vm.desc;vm.sortBy='price'" class="">Sort by price</a>
    </div>
    <div class="col-xs-6 pull-right">
      <a>Flower Type: </a>
      <a ng-model="vm.selectedFlower">Rose</a>
      <a ng-model="vm.selectedFlower">Hydrangeas</a>
      <a ng-model="vm.selectedFlower">Dahlias</a>
    </div>
  </div>

  <br>
  <hr>
  <div class="row bouquets">
    <div ng-repeat="bouquet in bouqCtrl.bouquets | filter:{flower_used: vm.selectedFlower} | orderBy:vm.sortBy:vm.desc">
    <!-- <div ng-repeat="bouquet in bouqCtrl.bouquets | filter:{price: 40}"> -->
      <div class="col-xs-6 col-md-4">
 <!--        <a ui-sref="show_bouquet({bouqId: bouquet._id})"><img ng-src="{{bouquet.image}}" height="300" alt=""></a>
        <br><br>
        <a ui-sref="show_bouquet({bouqId: bouquet._id})"><span>{{bouquet.name}}</span></a><span class="pull-right">{{bouquet.price | currency:'$':0}}</span>
      </div> -->

      <div class="thumbnail">
        <a ui-sref="shop.show_bouquet({bouqId: bouquet._id})"><img ng-src="{{bouquet.image}}" height="200" alt="..."></a>
        <div class="caption">
          <h3><a ui-sref="shop.show_bouquet({bouqId: bouquet._id})"><span>{{bouquet.name}}</span></a></h3>
          <p>{{bouquet.price | currency:'$'}}</p>
          <p><a class="btn btn-primary" role="button" ng-click="bouqCtrl.addItem(bouquet)">Add to Cart</a></p>
        </div>
      </div>

    </div>
  </div>
</div>

</div>


