<div class="container shop-home">

  <h1 class="text-center">Shop Bouquets</h1>

  <div class="row filters">
    <div class="col-xs-6 pull-left">
      <a ng-click="vm.desc=!vm.desc;vm.sortBy='price'" class="align-bottom">Sort by price</a>
    </div>
    <div class="col-xs-6 text-right pull-right">
      <p>Sort by flower type: </p>
      <a ng-click="vm.selectedFlower='rose'">Rose</a> |
      <a ng-click="vm.selectedFlower='hydrangea'">Hydrangea</a> |
      <a ng-click="vm.selectedFlower='peony'">Peony</a> |
      <a ng-click="vm.selectedFlower='sunflower'">Sunflower</a> |
      <a ng-click="vm.selectedFlower='wildflower'">Wildflower</a> |
      <a ng-click="vm.selectedFlower='tulip'">Tulip</a> |
      <a ng-click="vm.selectedFlower=null">All</a>
    </div>
  </div>

  <br>
  <hr>

  <div class="row text-center">
    <div ng-repeat="bouquet in bouqCtrl.bouquets | flowerType:vm.selectedFlower | orderBy:vm.sortBy:vm.desc">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail bouq-thumbnail">
          <a ui-sref="shop.show-bouquet({bouqId: bouquet._id})"><img ng-src="{{bouquet.image}}" id="bouquet-img" alt="{{bouquet.name}} Flowers"></a>
          <div class="caption">
            <h4><a ui-sref="shop.show-bouquet({bouqId: bouquet._id})">{{bouquet.name}}</a></h4>
            <p>{{bouquet.price | currency:'$'}}</p>
            <p><a class="btn btn-default" role="button" ng-click="bouqCtrl.addItem(bouquet)">Add to Cart</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


