<!-- <div class="navbar-fixed"> -->
<link rel='stylesheet' href='../../stylesheets/shop-style.css' />
<section class="body">

<nav class="navbar navbar-default text-center navbar-fixed-top">
    <a type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">menu</a>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a class="nav-link" ui-sref="home">home</a></li>
        <li><a class="nav-link" ui-sref="home.about">about</a></li>
        <li><a id="mid-nav" class="nav-link" ui-sref="home.blog">blog</a></li>
        <li><a ui-sref="home" id="nav-logo-img"><img src="images/R&W-logo.png" alt="R&W logo" id="nav-logo-img"></a></li>
        <li><a class="nav-link" ui-sref="home.work">work</a></li>
        <li><a class="nav-link" ui-sref="home.contact">contact</a></li>
        <li><a class="nav-link" ui-sref="shop.index" target="blank">shop</a></li>
      </ul>
    </div>
  </nav>

<!-- <div class="navbar navbar-default shop-navbar"> -->
  <!-- <div class="container-fluid shop-navbar"> -->
    <!-- <div class="navbar-header navbar-shop-header text-center">
      <h1>Shop</h1>
    </div> -->
    <div class="shop-nav">
      <ul class="nav navbar-nav pull-right shop-inner-nav">
      <!-- <li><h1>Shop</h1></li> -->
        <li ng-hide="shopNavCtrl.isLoggedIn()"><span><a ui-sref="shop.login">Log In</a></span> or <span><a ui-sref="shop.signup">Sign Up</a></span></li>
        <li ng-show="shopNavCtrl.isLoggedIn()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="shop.order-history">Order history</a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="shopNavCtrl.logout()">Log Out</a></li>
          </ul>
        </li>
        <li><a ui-sref="shop.cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart ({{shopNavCtrl.getCart().length}})</a></li>
      </ul>
    </div>
  <!-- </div> -->
<!-- </div> -->
<!-- </div> -->


  <div ui-view class="container"></div>

  <footer class="footer footer-fixed-to-bottom container">
    <!-- <span class="text-muted">&copy; 2017 Rooted & Wild</span> -->
    <div class="pull-right">
      <span><a href="https://www.pinterest.com/rootedandwildco/" target="blank"><img id="pinterest" src="images/pinterest-logo.jpg" alt="Rooted and Wild Pinterest"></a></span>
      <span><a href="https://www.facebook.com/rootedandwildco/" target="blank"><img id="fb" src="images/fb-logo.jpg" alt="Rooted and Wild Facebook"></a></span>
      <span><a href="https://instagram.com/rootedandwild" target="blank"><img id="ig" src="images/ig-logo.png" alt="Carlie's IG"></a></span>
    </div>
  </footer>

<script src="javascripts/main.js"></script>
</section>
