<h2>Sign Up</h2>

<form ng-submit="userCtrl.signup()">
  <div class="form-group">
    <label for="name">Name</label>
    <input ng-model="userCtrl.user.name" type="text" class="form-control" placeholder="Name" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input ng-model="userCtrl.user.email" type="email" class="form-control" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input ng-model="userCtrl.user.password" type="password" class="form-control" placeholder="Password" required>
  </div>
  <button type="submit" name="action" class="btn btn-default submit-btn">Sign Up</button>
</form>

