<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- My CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
  </head>
  <body ng-app="app">

    <div ui-view></div>

    <!-- My JS -->
    <script src="javascripts/app.js"></script>
    <script src="javascripts/main.js"></script>
    <script src="javascripts/controllers/main-controller.js"></script>
    <script src="javascripts/controllers/shop-nav-controller.js"></script>
    <script src="javascripts/controllers/user-controller.js"></script>
    <script src="javascripts/controllers/bouquet-controller.js"></script>
    <script src="javascripts/controllers/detail-controller.js"></script>
    <script src="javascripts/controllers/cart-controller.js"></script>
    <script src="javascripts/controllers/checkout-controller.js"></script>
    <script src="javascripts/controllers/confirm-controller.js"></script>
    <script src="javascripts/controllers/order-history-controller.js"></script>
    <script src="javascripts/services/bouquet-service.js"></script>
    <script src="javascripts/services/cart-service.js"></script>
    <script src="javascripts/services/order-service.js"></script>
    <script src="javascripts/services/user-service.js"></script>
    <script src="javascripts/services/auth-interceptor.js"></script>
    <script src="javascripts/services/token-service.js"></script>

  </body>
</html>
