<!DOCTYPE html>
<html ng-app="shopApp">
  <head>
    <title>Shop Rooted & Wild</title>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- FONT AWESOME -->
    <script src="https://use.fontawesome.com/1d5b93560c.js"></script>
    <!-- My CSS -->
    <link rel='stylesheet' href='/stylesheets/shop-style.css' />
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-resource.min.js"></script>
  </head>
  <body ng-controller="ShopNavController as shopNavCtrl">

    <!-- <div class="navbar-fixed"> -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/home#!" class="navbar-brand"><img src="images/R&W-LogoLarge2.jpg.jpeg" alt="R&W logo" height="150" id="shop-logo-img"></a>
          </div>
          <ul class="nav navbar-nav pull-right">
            <li ng-hide="shopNavCtrl.isLoggedIn()"><span><a ui-sref="login">Log In</a></span> or <span><a ui-sref="signup">Sign Up</a></span></li>
            <li ng-show="shopNavCtrl.isLoggedIn()" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a ui-sref="orders">Order history</a></li>
                <li role="separator" class="divider"></li>
                <li><a ui-sref="favorites">Favorites</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="shopNavCtrl.logout()">Log Out</a></li>
              </ul>
            </li>
            <li><a ui-sref="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart ({{shopNavCtrl.getCart().length}})</a></li>
          </ul>
        </div>
      </nav>
    <!-- </div> -->

    <br><br><br><br><br><br><br><br>
    <div ui-view class="container"></div>

    <!-- My JS -->
    <script src="javascripts/shop-app.js"></script>
    <script src="javascripts/controllers/shop-nav-controller.js"></script>
    <script src="javascripts/controllers/user-controller.js"></script>
    <script src="javascripts/controllers/bouquet-controller.js"></script>
    <script src="javascripts/controllers/detail-controller.js"></script>
    <script src="javascripts/controllers/cart-controller.js"></script>
    <script src="javascripts/services/bouquet-service.js"></script>
    <script src="javascripts/services/cart-service.js"></script>
    <script src="javascripts/services/user-service.js"></script>
    <script src="javascripts/services/auth-interceptor.js"></script>
    <script src="javascripts/services/token-service.js"></script>
  </body>
</html>
