<div id="about" class="row">
  <div class="col-sm-6 about-img">
    <img src="images/IMG_0005.jpg" alt="Mackenzie Myers" class="center-block image-cropper about-img img-responsive">
  </div>
  <div class="col-sm-6 about-img">
    <h3 class="text-center">Hi! I'm Mackenzie</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- <span><a href="https://www.pinterest.com/rootedandwildco/" target="blank"><img id="pinterest" src="images/pinterest-logo.jpg" alt="Rooted and Wild Pinterest"></a></span> -->
    <!-- <span><a href="https://www.facebook.com/rootedandwildco/" target="blank"><img id="fb" src="images/fb-logo.jpg" alt="Rooted and Wild Facebook"></a></span> -->
    <!-- <span><a href="https://instagram.com/rootedandwild" target="blank"><img id="ig" src="images/ig-logo.png" alt="Rooted and Wild's IG"></a></span> -->
  </div>
</div>
