<div id="blog" class="container">
  <div class="row">
    <div class="col-sm-8">
      <div ng-repeat="post in blogCtrl.posts | orderBy: 'post.createdAt':true">
        <a ui-sref="home.show-blog({postId: post._id})"><h3>{{post.title}}</h3></a>
        <p>{{post.createdAt | date:'longDate'}}</p>
        <hr>
        <p ng-repeat="paragraph in post.paragraphs">{{paragraph}}</p>
        <p>xo. Mackenzie</p>

        <img ng-repeat="img in post.images" ng-src="{{img}}" alt="{{post.title}}" class="blog-img">
        <br>
        <br>

        <div>
          <span ng-click="blogCtrl.addLike(post)" class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{post.likes}} Likes |
          <a ui-sref="home.show-blog({postId: post._id})"><span ng-click="blogCtrl.addLike(post)" class="glyphicon glyphicon-comment" aria-hidden="true"></span> ({{post.comments.length}}) Comments </a>
        </div>
        <hr>
        <br>
      </div>
    </div>

    <div class="col-sm-3 pull-right">
      <h4>Connect</h4>
      <!-- IG Feed -->
      <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/0e6287206a025a00bfdc1a53e39578a8.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
      <span><a href="https://www.pinterest.com/rootedandwildco/" target="blank"><img id="pinterest" src="images/pinterest-logo.jpg" alt="Rooted and Wild Pinterest"></a></span>
      <span><a href="https://www.facebook.com/rootedandwildco/" target="blank"><img id="fb" src="images/fb-logo.jpg" alt="Rooted and Wild Facebook"></a></span>
      <span><a href="https://instagram.com/rootedandwild" target="blank"><img id="ig" src="images/ig-logo.png" alt="Rooted and Wild IG"></a></span>
    </div>

  </div>
</div>
