<div id="work">
  <div class="work-imgs">
    <div><img src="../images/Brixton-173.jpeg" alt="" class="work-img"></div>
    <div><img src="../images/IMG_0003.jpg" alt="" class="work-img"></div>
    <div><img src="../images/IMG_0020.jpg" alt="" class="work-img"></div>
    <div><img src="../images/IMG_0023.jpg" alt="" class="work-img"></div>
    <div><img src="../images/Brixton-101.jpeg" alt="" class="work-img"></div>
    <div><img src="../images/Brixton-69.jpeg" alt="" class="work-img"></div>
    <div><img src="../images/BohoElopementStyledShoot-4.jpg" alt="" class="work-img"></div>
    <div><img src="../images/BohoElopementStyledShoot-127.jpg" alt="" class="work-img"></div>
    <div><img src="../images/IMG_0017.jpg" alt="" class="work-img"></div>
    <div><img src="../images/IMG_3488.jpg" alt="" class="work-img"></div>
    <div><img src="../images/IMG_3366.jpg" alt="" class="work-img"></div>
    <div><img src="../images/IMG_3489.jpg" alt="" class="work-img"></div>
    <div><img src="../images/IMG_4848.jpg" alt="" class="work-img"></div>
  </div>
</div>

<script>
  $('.work-imgs').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 9,
  centerMode: true,
  variableWidth: true,
  autoplay: true,
  autoplaySpeed: 2000,
});
</script>
